<div>
    <h2>Lista de Tarefas </h2>
    <ul>
      <li>
        <strong>Comprar mantimentos</strong> - Comprar frutas, vegetais e outros itens essenciais para a semana<br/>
        <em>Responsável:</em> João Silva | 
        <em>Prioridade:</em> Alta | 
        <em>Deadline:</em> 2024-10-10 <br/>
        <button>Deletar</button>
      </li>
  
      <li>
        <strong>Estudar Angular</strong> - Revisar componentes, diretivas e serviços para o projeto<br/>
        <em>Responsável:</em> Maria Souza | 
        <em>Prioridade:</em> Média | 
        <em>Deadline:</em> 2024-10-15 <br/>
        <button>Deletar</button>
      </li>
  
      <li>
        <strong>Planejar férias</strong> - Decidir o destino, reservar hotéis e planejar atividades<br/>
        <em>Responsável:</em> Pedro Lima | 
        <em>Prioridade:</em> Baixa | 
        <em>Deadline:</em> 2024-12-01 <br/>
        <button>Deletar</button>
      </li>
    </ul>
  </div>
  